.footer-outer {
  /* background: #cfe5df; */
  padding: 80px 20px 40px;
}

/* CARD */
.footer-card {
  background: #0f3d3e;
  color: #fff;
  border-radius: 24px;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  box-shadow: 0 25px 80px rgba(0,0,0,0.3);
}

/* LEFT */
.footer-logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-logo span {
  color: #f4b942;
}

.footer-left p {
  margin: 20px 0;
  line-height: 1.6;
  opacity: 0.9;
}

.socials {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.socials span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  background: #f4b942;
  color: #000;
}

/* BACK TO TOP */
.back-top {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
  padding: 10px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.back-top:hover {
  background: #f4b942;
  color: #000;
}

/* LINKS */
.footer-links h4 {
  margin-bottom: 16px;
  font-size: 16px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  opacity: 0.85;
  cursor: pointer;
}
.navlink{
    text-decoration: none;
    color: white;
}

.footer-links li:hover {
  color: #f4b942;
}

/* BOTTOM BAR */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }

  .back-top {
    margin: auto;
  }
}
